/* NavBar.css */
.navbar {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Make the navbar fixed at the top */
  top: 0; /* Align it to the top of the viewport */
  width: 98%; /* Ensure the navbar spans the entire width */
  z-index: 1000; /* Ensure the navbar stays above other content */
}

.navbar .nav-brand {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.navbar .nav-links {
  display: flex;
  gap: 15px;
}

.navbar .nav-item {
  padding: 8px 16px;
  background-color: #5c5c5c;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

.navbar .nav-item:hover {
  background-color: #989696;
}

.navbar .nav-item[download] {
  background-color: #176285;
}

.navbar .nav-item[download]:hover {
  background-color: #2eaee9;
}

